{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/cons_info.css' %}">
    <title>
        Информация о заявке
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header">
        <a href="{% url 'index_page' %}" class="to_index_a">Вернуться к поиску</a>
    </div>
</header>
<main>
    {% if response_ok %}
        <div class="response_ok">
            {{ response_ok }}
        </div>
    {% endif %}
    {% if response_error %}
        <div class="response_error">
            {{ response_error }}
        </div>
    {% endif %}
</main>
</body>
</html>